/include/ "system-conf.dtsi"
/ {
};
   
/* QSPI PHY */
   
&axi_quad_spi_0 {
    #address-cells = <1>;
    #size-cells = <0>;
    flash0: flash@0 {
        compatible = "jedec,spi-nor";
        spi-tx-bus-width=<1>;
        spi-rx-bus-width=<4>;
        reg = <0x0>;
        #address-cells = <1>;
        #size-cells = <1>;
        spi-max-frequency = <25000000>;
    };
};
   
   
/* ETH PHY */
&axi_ethernetlite_0 {
    phy-handle = <&phy0>;
    mdio {
        #address-cells = <1>;
        #size-cells = <0>;
        phy0: phy@0 {
            device_type = "ethernet-phy";
            reg = <1>;
        };
    };
};
 
/* i2c 0*/
&axi_iic_0 {
        clock-frequency = <100000>;
        status = "okay";
    };
   
  /* i2c 1*/
&axi_iic_1 {
        clock-frequency = <100000>;
        status = "okay";
    };